<div class="container mt-3" >
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Order Item</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Order Item">  
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Start Time</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Start Time">
  
  </div>
 
  <div class="form-group">
    <label for="exampleInputPassword1">End Time</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter End Time">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date</label>
    <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Enter Date">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Employee ID</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Employee ID">
  </div>
    
  
  <button type="submit" class="btn btn-secondary btn-lg btn-block" >Submit</button>
</form>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Work Schedule ID</th>
      <th scope="col">Plan ID</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Date</th>
      <th scope="col">Employee ID</th>
      <th scope="col">Order Item ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workSchedule of workSchedules; let i=index" [routerLink]="[workSchedule.scheduleId]" >
      <th scope="row">{{i+1}}</th>
      <td>{{workSchedule.scheduleId}}</td>
      <td>{{workSchedule.planId.planId}}</td>
      <td>{{workSchedule.startTime}}</td>
      <td>{{workSchedule.endTime}}</td>
      <td>{{workSchedule.date}}</td>
      <td>{{workSchedule.empId}}</td>
      <td>{{workSchedule.orderItemId}}</td>
      
    </tr>

    <!-- <router-outlet></router-outlet> -->
