<div class="container mt-3" >
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date of Birth</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Birthday">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Address</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Address">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contact Number</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Contact number">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Employee Type</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Employee Type">
    <small id="empTypeHelp" class="form-text text-muted">Manager/Inspector/Operator</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Username</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
    
  </div>
  <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
</form>
</div>
