<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">BOM ID</th>
      <th scope="col">Created Date</th>
      <th scope="col">Order Item ID</th>
      <th scope="col">Bill Items</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bom of BOMs; let i=index" >
      <th scope="row">{{i+1}}</th>
      <td>{{bom.bomId}}</td>
      <td>{{bom.createdDate}}</td>
      <td>{{bom.orderItemId}}</td>
      <td>{{bom.billItems}}</td>
      
    </tr>
    
  </tbody>
</table>