<table class="table">
  <thead class="thead-dark">
    <tr >
      <th scope="col">#</th>
      <th scope="col">Order ID</th>
      <th scope="col">Deadline</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders; let i=index" [routerLink]="[order.salesOrderId]">
      <th scope="row">{{i+1}}</th>
      <td>{{order.orderId}}</td>
      <td>{{order.orderDeadline}}</td>
      <td>{{order.startDate}}</td>
      <td>{{order.endDate}}</td>
    </tr>
    
  </tbody>
</table>
